<div class="row">
  <div class="col-sm-12">
    <p>Add new server or blueprints</p>
    <label for="serverName">Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <label for="serverContent">Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">
    <p></p>
    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>&nbsp; &nbsp; &nbsp;
    <button class="btn btn-primary" (click)="onAddBluePrint()">Add blueprint</button>
  </div>
</div>